{% extends 'base.html' %}
<!--  -->
{% block content %}
<section class="checkout-container">
  <div class="checkout-main">
    <div class="checkout-order">
      {% for item in response_cart %}
      <div class="order-cart-container">
        <div class="order-cart-imgdiv">
          <img class="order-cart-img" src="{{item.strMealThumb}}" alt="" />
        </div>
        <div class="order-cart-card">
          <div class="order-cart-card-title"><p>{{item.strMeal}}</p></div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="login-form">
      <p class="form-text">Billing Info</p>
      <form method="POST">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != 'hidden' %}
        <p>
          <label class="form-label">{{ field.label }}</label>
          {{ field(class_="form-control") }} {% for error in field.errors %}
          <span class="form-text text-danger">{{ error }}</span>
          {% endfor %}
        </p>
        {% endfor %}

        <button class="btn btn-success form-text top-margin2" type="submit">
          Submit Order
        </button>
      </form>
    </div>
  </div>
  <div class="checkout-info">
    <div class="form-label"><p>Summary</p></div>
    <div class="checkout-info-item top-margin">
      <p class="checkout-info-label">Name</p>
      <div class="checkout-info-value">
        <p>{{user.first_name}} {{user.last_name}}</p>
      </div>
    </div>
    <div class="checkout-info-item top-margin right-align">
      <p class="checkout-info-label">Address</p>
      <div class="checkout-info-value">
        <p>{{ user.address_street}}</p>
        <p class="right-align">
          {{ user.address_city }}, {{ user.address_state }} {{ user.address_zip
          }}
        </p>
      </div>
    </div>

    <div class="top-margin"></div>
    <div class="checkout-info-item top-margin">
      <p class="checkout-info-label">Plan</p>
      <div class="checkout-info-value">
        {{ plan.serving_count }} servings. {{ plan.meal_count }} meals.
      </div>
    </div>
    <div class="checkout-info-item">
      <p class="checkout-info-label">Price</p>
      <div class="checkout-info-value">$ {{ plan.price }}</div>
    </div>
    <div class="checkout-info-item">
      <p class="checkout-info-label">Shipping &amp; Handling</p>
      <div class="checkout-info-value">$ 0.00</div>
    </div>
    <div class="checkout-info-item">
      <p class="checkout-info-label">Sales Tax</p>
      <div class="checkout-info-value">$ {{ tax }}</div>
    </div>
    <div class="checkout-info-item checkout-info-total">
      <p class="checkout-info-label">Total</p>
      <div class="checkout-info-value">$ {{ total }}</div>
    </div>
  </div>
</section>
<!--  -->
{% endblock %}
