{% extends 'base.html' %}
<!--  -->
{% block content %}

<div class="menu-heading"><h1>{{heading}}: {{category_str.title()}}</h1></div>

<section class="menu-container">
  <div class="menu-categories">
    <div class="menu-category">
      <a href="/menu/beef">
        <img src="https://i.postimg.cc/Y9Fk2n02/meat.png" alt="" />
        <p>Beef</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/chicken">
        <img src="https://i.postimg.cc/gjPpxVLV/egg-cracked.png" alt="" />
        <p>Chicken</p>
      </a>
    </div>
    <div class="menu-category">
      <a href="/menu/pork">
        <img src="https://i.postimg.cc/x1d2NT84/pig.png" alt="" />
        <p>Pork</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/seafood">
        <img src="https://i.postimg.cc/SR7hCncw/fish.png" alt="" />
        <p>Seafood</p>
      </a>
    </div>
    <!-- NO LINKS -->
    <div class="menu-category">
      <a href="/menu/pasta">
        <img src="https://i.postimg.cc/NfBYYxcY/baguette.png" alt="" />
        <p>Pasta</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/lamb">
        <img src="https://i.postimg.cc/HWQHfhFB/deer.png" alt="" />
        <p>Lamb</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/vegetarian">
        <img src="https://i.postimg.cc/fTCsb0zd/salad.png" alt="" />
        <p>Vegan</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/breakfast">
        <img src="https://i.postimg.cc/FKdXGWjb/egg-fried.png" alt="" />
        <p>Breakfast</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/dessert">
        <img src="https://i.postimg.cc/W1fPGLJb/ice-cream.png" alt="" />
        <p>Dessert</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/miscellaneous">
        <img src="https://i.postimg.cc/43Dk065D/fridge.png" alt="" />
        <p>Misc.</p>
      </a>
    </div>
  </div>

  <div class="menu-hero">
    {% for meal in selected_meals %}
    <div class="meal-container">
      <div class="meal-imgdiv">
        <img class="meal-img" src="{{meal.strMealThumb}}" alt="" />
      </div>
      <div class="meal-card">
        <p class="meal-title">{{meal.strMeal.title()}}</p>
        <p>ID: {{meal.idMeal}}</p>

        <!-- <button class="tooltip">
          <img src="static/other/square-plus.png" alt="" />
        </button> -->
      </div>
    </div>

    {% endfor %}
  </div>
</section>

{% endblock %}
