{% extends 'base.html' %}
<!--  -->
{% block content %}

<div class="menu-heading"><h1>{{heading}}</h1></div>

<section class="menu-container-choose">
  <div class="menu-categories">
    <div class="menu-category">
      <a href="/menu/beef">
        <img
          src="https://bn1304files.storage.live.com/y4moNgZu9p-W7XbTIrXGXu-Xu2vIpVmYgWL0Nh8ATTByEjudqH-GnNRRdiHhbxqEj1_RCj8LvXnz1Y3KKwV-2-wQq4XRb4hJzI75cMq_xV1a_FzlIXVxVP9GkmfY34xiDp90U2XT9V82oinmQzVc_5m4Rn3ld_atcHMRD8rEAFIRC_ffd70oS-VYfw61Jwm2j8u11kCq_n8BYWeefg9V1rQhg/meat.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Beef</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/chicken">
        <img
          src="https://bn1304files.storage.live.com/y4mChZAuHSoToDh3-XO18U29QRejLgX7UNV1ZXOqrJX18wgYjy0PmxJxPDc5IOdo7gAS37Mn8C3fuqS-Xv6ezbuUYcNlglCISYdRKn7aAlo-sXrttTOzXRwaedt3177WIxuGLew4v6olFaNSYE3bbN_WuQXvenyKrjWmRZiyvOSxnD0T2iEAcGcRoxV765FeVChiaMM1gUodzYA_KvT8JIU5Q/egg-cracked.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Chicken</p>
      </a>
    </div>
    <div class="menu-category">
      <a href="/menu/pork">
        <img
          src="https://bn1304files.storage.live.com/y4m8oOAFk2YhZcyT_rIX4NvnEu57H-t59WpogTRzShIY1fS_aSAcZuCmGQpwvtaiOkKT_CHQ79BA5_KKJ8gyk0cWv8UaT6264qxzzTC4thdM0iQQH9L8lA6GU7w25htiBtpOn76W49Sn_TvWOJWZE1aIJJPgoxNj_WxAa24i4B3bfzg1uvjy6ldKXvq4XoBbKk1FZ2gCJY6nz2kQ-Ikyl-5Kg/pig.png?psid=1&width=1717&height=829"
          alt=""
        />
        <p>Pork</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/seafood">
        <img
          src="https://bn1304files.storage.live.com/y4m0b1qrcOeU3oTS1Stwx-aFCfmRLSQChDA7J7CkrapLkJalVmsDkv5Ep-Yi9BkWSKA5pRHAW6tM_gPigjTaZQXNQSkFS3DdiIJhP4JIQ27WljyoEwGdTys4yM0DDusnIC_Cx6Od2i4GtWGY3-NL30o9oyKO50SuFJJVkqmYRv4WoL2QoIdf06B_v9CcT6a3MyUbEUZOGdxzEcT0JgZg5teOA/fish.png?psid=1&width=1717&height=829"
          alt=""
        />
        <p>Seafood</p>
      </a>
    </div>
    <!-- NO LINKS -->
    <div class="menu-category">
      <a href="/menu/pasta">
        <img
          src="https://bn1304files.storage.live.com/y4mWfZ2mfxuyuqLIfOM0A1bVubhX2eVNF-a37gu7hRPmAeS9Fmqh7JEn-bH-qLllLwRU6PYl30ttPzGi7A0OaRcdGigB8UJqwjEXXZLfsoprCJbnTM9TSKWFXUj6pfTF-Y8nTyMajCPIv3maK-gkFElxBWUMj5_7LowZPVHI_8gj34jaFmL8ctOObgPGPGW_1O7DjN9mnS_nMl_BGJj6FRLhA/baguette.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Pasta</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/lamb">
        <img
          src="https://bn1304files.storage.live.com/y4mTTdZ9qu_DZohYUNpaJDdk6YyX4FzcDWL3qUXXMzTJdb1gB792PsaPiEP1pB6PIlYW_UrLZVAln1eMNKN_kyVl59dUJ0y5UvkX-PPYKhtQEvX7imv0igEEzJEtuLOcDhCSjEtRmmYRuyvsHwzYe5AKD36B66n7JirFw_xRjS2LmEb-S4G82lOYAmJOUnD-ryt26OgHdPpZo6csgOnAiQ8IA/deer.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Lamb</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/vegetarian">
        <img
          src="https://bn1304files.storage.live.com/y4mHS5K7pRsE762OfkES9XbJ5V0BqXiaJqQD3Hy87ug9ICSN0prXBDd8VkRwbFFEVN0BY3pXV1KN2dckftbuwWEn6V_hjfPM7cxrOhlLnnoHCDYHUPAiMxR0wkZb5AiKpBaCnKhsy2OD-G8NtiJEMdDJWKrWHodgEHptqwX76JVZSr1nL44tO1Qmin2EWxsfWm7ni8wKgPX3vZQrMVZHhlRpQ/salad.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Vegan</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/breakfast">
        <img
          src="https://bn1304files.storage.live.com/y4mKYzO4jzimNXyGZN487-oAcTJIixwl5nrL8izsAz09vGBzr9CfD6LBwyEO_GBS7fnl8BBtR8JCjU1hVA2e-5NyirJXOaYecV0TnLR6_AzSJWQgFLSufkM9Sz-jYA3Wc4boqsfnS9DZ9HJRP2efiQpFfl-CYkA03ZmtVesLFt7zFI-47ZZSMq_qalF-rTcCvADQnSOrQfD8YaK5XN9BqmtKw/egg-fried.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Breakfast</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/dessert">
        <img
          src="https://bn1304files.storage.live.com/y4mtRYV9v2Jf69UsxvM4iHzb6bP7u4ax9ZGUN256W7Al3qyaBVXOlqQBg9y3GKtMXfYP_9AduwQsJM3qI7k71jz9GcHeDmRafpYDR2-iwTk_Ts-ps9RfopYsSQWGlR67zlv99atQGC76hKeOZHQ6r7OfdAQWwdnmRqScIfq-pEpZl9lAt0j-S3CBXRwrMwke_BIEuYGva_hvnAC-YgJYnVDaw/ice-cream.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Dessert</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/menu/miscellaneous">
        <img
          src="https://bn1304files.storage.live.com/y4mShmYpnQ7NR10fIvKR3s4wfQz3lvPpkLqV5oaKnBDCSS1mY8uT_LFskEP-XAu8J7g_YFHaV-ciUK7x67cP5AHYS1EF7hWm3CNytVvf0s6WGrww81z5J8RVxvPLFXj_kImqOdVH8KsqwgwzBL3XD6RCZKkxSeCbwsKM6IE3FoBwuxGJ46r9_SzqKGGovB0dpz33Rgx8XKVSZEiVHrCY0TDgA/fridge.png?psid=1&width=240&height=240&cropMode=center"
          alt=""
        />
        <p>Misc.</p>
      </a>
    </div>
  </div>

  <div class="menu-hero-choose">
    {% for meal in selected_meals %}
    <div class="meal-container">
      <div class="meal-imgdiv">
        <img class="meal-img" src="{{meal.strMealThumb}}" alt="" />
      </div>
      <div class="meal-card-choose">
        <p class="meal-title">{{meal.strMeal.title()}}</p>

        <button class="tooltip">
          <img
            src="https://bn1304files.storage.live.com/y4mVmmXgCiDj3k81pfvO7_13pNNBybAKkp_ek5r3ofas8-B-HOl_3q3KrzoxtGWaNYrd2-jntOJr-gbV7-OxvmJqn_5iHhPALr74pL1q1eoUqag07MVr1xvhNivtH0b0i8MBo73iGbC6JBLMfeTyu3Yql8IOv8J0tFUwt5_HSuGnqhNnlAMFxxU33_ynVkwVqMXLeGWiSTvv_kLtxZ1rU28_g/square-plus.png?psid=1&width=240&height=240&cropMode=center"
            alt=""
          />
        </button>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="menu-cart">
    <h1 class="cart-heading">
      <img
        src="https://bn1304files.storage.live.com/y4mJKazWlL4bRegDmI3YjE3Ml2ThmNMVz_gt5f-L5B6TfA3i5srz3-fK5VO5ruPQn0QWRbFQ1C49P1QwMOld-iZUy5MBPp6DEe_VpBnBlAY_tSlUtrbwaYSEujgkBtLGhjKwCQVezXar3hi14qeSgGPlACpYPrsAHoev0sKxaqvV5I5gidGJxfyDhrVJ8i37h38sPWjwD0hidgxxAarveOm_A/shopping-cart.png?psid=1&width=181&height=181&cropMode=center"
        alt=""
      />
    </h1>
    <div class="cart-container"></div>
    <div class="cart-container"></div>
    <div class="cart-container"></div>
    <div class="cart-container"></div>
    <div class="cart-container"></div>
  </div>
</section>

{% endblock %}
