{% extends 'base.html' %}
<!--  -->
{% block content %}
<div class="menu-heading">
  <h1 class="menu-heading-h1">{{heading}}</h1>
</div>

<section class="menu-container-choose">
  <div class="menu-categories">
    <div class="menu-category">
      <a href="/choose/beef">
        <img src="https://i.postimg.cc/Y9Fk2n02/meat.png" alt="" />
        <p>Beef</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/choose/chicken">
        <img src="https://i.postimg.cc/gjPpxVLV/egg-cracked.png" alt="" />
        <p>Chicken</p>
      </a>
    </div>
    <div class="menu-category">
      <a href="/choose/pork">
        <img src="https://i.postimg.cc/x1d2NT84/pig.png" alt="" />
        <p>Pork</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/choose/seafood">
        <img src="https://i.postimg.cc/SR7hCncw/fish.png" alt="" />
        <p>Seafood</p>
      </a>
    </div>
    <!-- NO LINKS -->
    <div class="menu-category">
      <a href="/choose/pasta">
        <img src="https://i.postimg.cc/NfBYYxcY/baguette.png" alt="" />
        <p>Pasta</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/choose/lamb">
        <img src="https://i.postimg.cc/HWQHfhFB/deer.png" alt="" />
        <p>Lamb</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/choose/vegetarian">
        <img src="https://i.postimg.cc/fTCsb0zd/salad.png" alt="" />
        <p>Vegan</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/choose/breakfast">
        <img src="https://i.postimg.cc/FKdXGWjb/egg-fried.png" alt="" />
        <p>Breakfast</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/choose/dessert">
        <img src="https://i.postimg.cc/W1fPGLJb/ice-cream.png" alt="" />
        <p>Dessert</p>
      </a>
    </div>

    <div class="menu-category">
      <a href="/choose/miscellaneous">
        <img src="https://i.postimg.cc/43Dk065D/fridge.png" alt="" />
        <p>Misc.</p>
      </a>
    </div>
  </div>

  <div class="menu-hero-choose">
    {% for meal in selected_meals %}
    <div class="meal-container">
      <div class="meal-imgdiv">
        <img class="meal-img" src="{{meal.strMealThumb}}" alt="" />
      </div>
      <div class="meal-card-choose">
        <p class="meal-title">{{meal.strMeal.title()}}</p>

        <button id="{{meal.idMeal}}" class="add-button tooltip cartbutton">
          <img src="https://i.postimg.cc/Px1Cv5vh/square-plus-3.png" alt="" />
        </button>
      </div>
    </div>

    {% endfor %}
  </div>

  <div class="menu-cart">
    <div id="{{session_meal_cap}}" class="cart-heading">
      <div>
        {% if session['cart_length'] < session_meal_cap %} Choose
        {{session_meal_cap - session['cart_length']}} more meals. {% else %}
        <a href="">Checkout</a>
        {% endif %}
      </div>
    </div>
    <!--  -->
    <div class="cart-plan-container">
      <div class="cart-plan-inner">
        <p>SELECTED PLAN</p>

        <div class="cart-plan-innergrid">
          <div class="cart-plan-inner-plan">
            <p>2 servings.</p>
            <p>{{session_meal_cap}} meals.</p>
          </div>
          <div class="cart-plan-inner-editbtn">
            <a href="/plans">
              <img
                src="https://i.postimg.cc/qv1jrzZN/edit-1-white.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
    {% for item in response_cart %}
    <div class="cart-container">
      <div class="cart-imgdiv">
        <img class="cart-img" src="{{item.strMealThumb}}" alt="" />
      </div>
      <div class="cart-card">
        <div class="cart-card-title"><p>{{item.strMeal}}</p></div>
        <!-- <div class="cart-card-deletebtn">
          <a href=""
            ><img src="https://i.postimg.cc/hPSHbsMk/backspace-2.png" alt=""
          /></a>
        </div> -->
      </div>
    </div>
    {% endfor %}

    <!--  -->
    <a class="cart-clearbtn" href="/cart/clear">
      <img src="https://i.postimg.cc/T1W0P4cT/square-x.png" alt="" />
    </a>
  </div>
</section>

{% endblock %}
