<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/styles.css" />
    <title>Prep Kitchen</title>
  </head>
  <body>
    <header class="header">
      <a href="/templates/index.html"
        ><img class="logo" src="/content/logo-long2.png" alt=""
      /></a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="/templates/menu.html">Menu</a></li>
          <li>
            <a class="main-nav-link" href="/templates/plans.html">Plans</a>
          </li>
          <li><a class="main-nav-link" href="#">About Us</a></li>
          <li><a class="main-nav-link" href="#">Login</a></li>
          <li><a class="main-nav-link nav-cta" href="#">Call To Action</a></li>
        </ul>
      </nav>
    </header>

    <section class="plans-container">
      <div class="plans">
        <div class="plan plan-low">
          <h2 class="plan-bigtext">$29.99<small>/mo</small></h2>
          <hr />
          <p>2 servings per meal.</p>
          <p>3 meals per week.</p>
          <img src="/content/graphics/3meals.png" alt="" />
          <a href="#" class="btn btn--full-green">Get started.</a>
        </div>
        <div class="plan plan-mid">
          <h2 class="plan-bigtext">$49.99<small>/mo</small></h2>
          <hr />
          <p>2 servings per meal.</p>
          <p>5 meals per week.</p>
          <img src="/content/graphics/5meals.png" alt="" />
          <a href="#" class="btn btn--full-green">Get started.</a>
        </div>
        <div class="plan plan-high">
          <h2 class="plan-bigtext">$64.99<small>/mo</small></h2>
          <hr />
          <p>4 servings per meal.</p>
          <p>4 meals per week.</p>
          <img src="/content/graphics/4meals-a.png" alt="" />
          <a href="#" class="btn btn--full-green">Get started.</a>
        </div>
      </div>
    </section>
  </body>
</html>
