{% extends 'base.html' %}
<!--  -->
{% block content %}

<div class="menu-heading"><h1>Plans</h1></div>
<section class="plans-container">
  <div class="plans">
    <div class="plan plan-low">
      <h2 class="plan-bigtext">$29.99<small>/mo</small></h2>
      <hr />
      <p>2 servings per meal.</p>
      <p>3 meals per week.</p>
      <img
        src="https://previews.dropbox.com/p/thumb/ABuMVgPe56wgbequNbDR8xaFGbgtz6Qh6PNKPPOriJSib7FVm9ltPGn0Nli8gT8G6XsKA9V6VB8WehKprMAP_UCpPc8Tn3ghnIQEOsk-DyOgTIUyhifhwAY9ONv-wo3J6R7ZcICC4T12E_K7V99piqE7rll9cJ27utQgDsrQrhO2NyTwlT0_n_PE06kcvZ5aHLLN7lGhTwqz-nYDzwm5mhp1qcOXiHu9lAOnZVb1P7eV1upBQhp0IDsuHytYJ5jia5pUTQcu-XFMtXAvfsrErRFZdoA54C8EULfIMFEtWf60fqKTf9W_kyIY7zxATzpgpCFvl3u_mSU6Ix-9YUi3EHjZQYKQjAQFK1E7_R0RLltkTA2Ztd78XPV94KcO-DYPvlQ/p.png"
        alt=""
      />
      <a href="/choose" class="btn btn--full-green">Get started.</a>
    </div>
    <div class="plan plan-mid">
      <h2 class="plan-bigtext">$49.99<small>/mo</small></h2>
      <hr />
      <p>2 servings per meal.</p>
      <p>5 meals per week.</p>
      <img
        src="https://previews.dropbox.com/p/thumb/ABsh34MSXW7O_sN1Stt8QiEYZc7w6-JtYwehACa2lMh4SVmEYA4XuRRNTe1hfdGSvhCTy-BWFwim46Vx-ZULJf1J2_QJl6vQU2WyN9wNdDrg4UqNtIHoDJhn9z5IDCzGQnToJqiAtBmQvWUgHM7SI8TTu9N_nBT3WHYI_86tdyFxznx94F2DqNApQIthp6sh7BRY4SONkafF5-S96vf5UmcYpK3N0SgK3kWohR8A3g7Tr71umTaH6ErEJ_zlWjOEW4h_AJFxzliALbGf_m4nvhrNk1GBXWRyAcM_eUdOLvJKu_Si4oH7FzUQteTzphZkgrkzOHeps5C1OdrljCYrc5Hx2JwSppIn03aXWxE5Prq0ttGKdiDXWn42wLPWfh-57PM/p.png"
        alt=""
      />
      <a href="/choose" class="btn btn--full-green">Get started.</a>
    </div>
    <div class="plan plan-high">
      <h2 class="plan-bigtext">$64.99<small>/mo</small></h2>
      <hr />
      <p>4 servings per meal.</p>
      <p>4 meals per week.</p>
      <img
        src="https://previews.dropbox.com/p/thumb/ABu0_WZjLMUgrxIHJ99rK-gT7Hm3s-BgOJWA4rySboTenX9vWFDsVdk9o7r1_-cnBen911d6NUUzkhG6FQJsRUyzqV23NLjljtBL5qrbj0I49E3r4WkR5AeKjO2TQfv6QjM1wbVeY69RapaAr6z8lF6loYZXNrJjvZlDogiuzfpRYXYGpEkzmrlhMhhM8SvldCW6EWDf3lcl8ZnJFjJOUQkLrJ6QUAT4GFR5msJqid5c5vWOaSDGuWbS2OeeC3abnPloH67nz4llYVkOjtBja-A3JsKCuCYellZjPqu0f2XDjRCigAyh-ptPSsfLFXOhP4udaTyV5fUz_SFSL2GsUPe_3fKD7QwOPU5ZVM1xjoiPfuaO6mRcV9rlHgfh8XcF22A/p.png"
        alt=""
      />
      <a href="/choose" class="btn btn--full-green">Get started.</a>
    </div>
  </div>
</section>
{% endblock %}
