{% extends 'base.html' %}
<!--  -->
{% block content %}
<div class="menu-heading"><h1>Profile</h1></div>
<!--  -->
<div class="profile-container">
  <div class="profile-orders-container">
    <div class="profile-orders-title">
      <p>Your Recent Orders</p>
    </div>

    <div class="profile-orders">
      {% for order_list in all_orders %}
      <div class="profile-order">
        <div class="profile-order-info">
          <div><strong>Order # {{order_list.0.order_id}}</strong></div>
          <div>{{ order_list.0.date.strftime('%Y-%m-%d %H:%M') }}</div>
        </div>

        {% for meal in order_list %}
        <div class="profile-meal">
          <img
            class="profile-meal-img"
            src="{{ meal.strMealThumb }}"
            alt="{{ meal.strMeal }}"
          />
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="profile-info-container">
    <p class="profile-orders-title">Your Info</p>
    <div class="profile-info-stats">
      <p class="form-label">{{user.first_name}} {{user.last_name}}</p>
      <p>{{user.email}}</p>
      <!-- <p>Address</p> -->
      <p>{{user.address_street}}</p>
      <p>{{user.address_city}}, {{user.address_state}} {{user.address_zip}}</p>
    </div>
    <div class="profile-info-startnew">
      <button>
        <p><a href="/plans">Start New Order</a></p>
      </button>
      <button>
        <p><a href="/logout">Logout</a></p>
      </button>
    </div>
  </div>
</div>

<!--  -->
{% endblock %}
