{% extends 'base.html' %}
<!--  -->
{% block content %}
<div class="menu-heading"><h1>Register</h1></div>
<div class="login-form">
  <div>
    <p class="form-text">
      If you already have an account, please
      <a href="/login">login here.</a>
    </p>
  </div>
  <!--  -->

  <form method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>
      <label class="form-label">{{ field.label }}</label>
      {{ field(class_="form-control") }} {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success form-text top-margin2" type="submit">
      Login
    </button>
  </form>

  <!--  -->
</div>
<!--  -->
{% endblock %}
