/* 

--- 01 TYPOGRAPHY SYSTEM

Font sizes (px):
10 - 12 - 14 - 16 - 18 - 20 - 24 - 30 - 36 - 44 - 52 - 62 - 74 - 86 - 98

Font weights:
400 (default)

Line heights:
1 (default)

Spacing system (px):
2 - 4 - 8 - 12 - 16 - 24 - 32 - 48 - 64 - 80 - 96 - 128

--- 02 COLORS
Primary: #e67e22, #68bf54
#fa9746 #96c38c #2a4f96 #ffca79
Tints: #fdf2e9
Shades:
Accents:
Grays: #555, #333

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: none;
}

html {
    font-size: 62.5%;
    /* sets base font to 10px, instead of 16 (for rem)*/
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    background-color: #fff6f0;

}

/****************** 
GENERAL/REUSABLE COMPONENTS
*******************/
.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 8px;

    /* put transition on original state */
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;
}

.btn--full:link,
.btn--full:visited {
    background-color: #fa9746;
    color: #fff;

}

.btn--full:hover,
.btn--full:active {
    background-color: #e1883f;
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #96c38c;
    /* color: #555; */
    color: #fff;

}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fff;
    color: #96c38c;

    /* border: 3px solid white; */
    box-shadow: inset 0 0 0 3px #96c38c;
}

.btn--full-green:link,
.btn--full-green:visited {
    background-color: #fa9746;
    color: #fff;

}

.btn--full-green:hover,
.btn--full-green:active {
    background-color: #e1883f;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

/****************** 
HEADER
*******************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 4.2rem;
    background-color: #fff6f0;

}

.logo {
    height: 9.6rem;
}

/****************** 
NAVIGATION
*******************/
.main-nav-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 3.2rem;
    margin-right: 8rem;
    align-items: center;
}

.main-nav-link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #222;
    /* font-size: 2.0rem; */
}

.nav-cta:link,
.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
    color: #fff;
    background-color: #2a4f96;
}

.nav-cta:hover,
.nav-cta:active {
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
    color: #fff;
    background-color: #254581;

}


/****************** 
FRONT HERO SECTION
*******************/
.section-hero {
    background-color: #fff6f0;
    padding: 6.4rem 0 9.6rem 0;
}

.hero {

    margin: 0 auto;
    max-width: 130rem;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    align-items: center;
}

.hero-description {
    font-size: 1.95rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem-;
    margin-top: 6.4rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    display: flex;
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9
}

.delivered-text {
    font-size: 1.95rem;
    font-weight: 600;
    margin-left: 2.8rem;
}

.delivered-text span {
    color: #f18b31;
}

/****************** 
PLANS
*******************/
.plans-container {
    background-color: #fff6f0;
}

.plan-menu-heading {
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

.plans {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.2rem;
    margin: 0 auto;
    padding: 5rem 0;
    max-width: 100rem;
    justify-content: center;
}

.plan {
    background-color: #ffffff;
    max-width: 50rem;
    padding: 2rem;
    padding-top: 3rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.plan-bigtext {
    font-size: 6.2rem;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    font-weight: 700;
    color: #333;
    margin-bottom: 3.2rem;
}

.plan-bigtext small {
    font-size: 2.4rem;
}

.plan p {
    font-size: 2.4rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 1.6rem;
}

.plan img {
    max-width: 40rem;
}

.plan hr {
    margin-bottom: 2rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn-green:hover,
.btn-green:active {
    background-color: #96c38c;
}

/****************** 
MENU
*******************/

.menu-heading h1{
    font-size: 6rem;
    text-align: center;
    margin: auto;
    /* margin-left: 310px; */

}

.menu-container {
    background-color: #fff6f0;
    display: grid;
    grid-template-columns: 15% 85%;
    max-width: 150rem;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    margin-top: 20px;
    padding: 0 10px;
}


/* FOR CHOOSE */
.menu-container-choose { 
    background-color: #fff6f0;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    max-width: 165rem;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    margin-top: 20px;
    padding: 0 10px;
    
}


.menu-categories {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 1rem 1rem;
    justify-content: center;
    max-height: 600px;
}

.menu-category {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #ffffff;
    max-width: 100px;
    /* max-height: 100px; */
    padding: 2.5rem 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    /* border: 1px solid #fa9746; */
}

.menu-category a {
    text-decoration: none;
    color: #222;
    text-align: center;
}
.menu-category img {
    width: 30x;
    height: 30px;
}
.menu-category p {
    font-size: 1.5rem;
    text-align: center;

}



.menu-container p {
    padding: .5rem;
    text-align: center;

}

.menu-hero {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    /* background-color: #ffffff; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
}

/* FOR CHOOSE */
.menu-hero-choose {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem 1rem;
    justify-content: center;
    margin-left: -58px;
}

.meal-container {
    max-width: 300px;
    max-height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 75% 25%;
    margin: 5px auto;
    margin-top: 0;
    border-radius: 20px;
    border: 3px solid #96c38c;
}

.meal-imgdiv {     /* Equals maximum image height */
    max-width: 100%;
}

.meal-img {
    max-width: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -9%;
}

.meal-btn {
    /* margin: auto;
    justify-content: center;
    align-items: center; */
    width: 100%;
    border: 0;
    padding: 0;
    background-color: #ffffff;
}

/* .meal-btn:hover{
    background-color: green;
} */

.meal-btn img {
    height: 50px;
}

.meal-title {
    font-size: 1.5rem;
    font-weight: 700;
    color:#222;
    padding: 15px;

    text-align: center;
    margin: auto; 
}
.meal-card {
    background-color: #ffffff;
    padding: 1rem 1rem;
}

.meal-card-choose {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #ffffff;
}

.meal-card p {
    margin: auto;
    justify-content: center;
    align-items: center;
}

/****************** 
CART (FOR CHOOSE)
*******************/
.menu-cart {
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
    height: 640px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    /* border: 3px solid #2a4f96; */
    border-radius: 6px;
}
.cart-heading {
    margin-top: -19px;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 1.4rem;
}
.cart-heading img{
    width: 50px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-left: 57px;

}
.cart-plan-container {
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    /* margin: 5px 0; */
}

.cart-plan-inner {
    background-color: #fa9746;
    border-radius: 8px;
    padding: 8px 0;
    margin: 8px;
    margin-top: 14px;
}
.cart-plan-inner p {
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    
}

.cart-plan-innergrid {
    display: grid;
    grid-template-columns: 85% 15%;
}


.cart-plan-inner-plan {
    background-color: #96c38c;
    padding: 4px;
    margin: 2px 6px;
    margin-left: 12px;
    border-radius: 8px;
    
}
.cart-plan-inner-plan p {
    color: white;
}
.cart-plan-inner-editbtn img {
    width: 20px;
    margin-top: 7.5px;
    margin-left: -12px;
}


.cart-container {
    width: 90%;
    height: 100px;
    /* border: 1px solid black; */
    align-items: center;
    /* margin-top: 18.5px; */
    margin: 12px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
    
}


.cart-container{
    overflow: hidden;
    display: grid;
    grid-template-rows: 70% 30%;
}

.cart-imgdiv {     /* Equals maximum image height */
    max-width: 100%;
}

.cart-img {
    max-width: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -9%;
}

.cart-card {
    background-color: #ffca79;
    height: 40px;
    width: 100%;
    
    margin-top: 1px;
    font-size: 1.1rem;
    /* display: grid;
    grid-template-columns: 85% 15%; */
}

.cart-card-title {
    color: black;
    margin: auto;
    padding-top: 7px;
    font-size: 1.1rem;
    font-weight: 600;

}
.cart-card-deletebtn {
    width: 100%;
}
.cart-card-deletebtn a{
    width: 100%;
    /* padding: 0 2px;
    margin: auto; */

}

.cart-clearbtn img {
    margin-top: 5px;
    width: 30px;
} 

/****************** 
LOGIN PAGE
*******************/

.login-form {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.login-form form p {
    margin: 10px 0;
}








/****************** 
ADD BUTTON
*******************/

.add-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    border: 0px solid transparent;
    background-color: rgba(101, 77, 237, 0);
    border-radius: 1em;
    transition: all 0.2s linear;
    margin: auto .6rem;
    cursor: pointer;
   }
   
   .add-button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #9ad58c;
   }
   
   .tooltip {
    position: relative;
    display: inline-block;
   }
   
   .tooltip .tooltiptext {
    visibility: hidden;
    width: .5rem;
    background-color: rgba(57, 47, 35, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
    
   }
   
   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    /* margin-top: -5px; */
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
   }
   
   .tooltip:hover .tooltiptext {
    visibility: visible;

   }

   /* custom */
   .tooltip img {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;

   }