***************** 
PROFILE PAGE
*******************/
.profile-container {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 5px;

}
.profile-orders-container {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;

}
.profile-orders-title {
    font-size: 2.4rem;
    padding: 5px 0;
}
.profile-orders {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    padding: 5px;

}
.profile-order {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

/* ////////////////// */
.profile-order-meal {
    width: 100px;
    display: grid;
    grid-template-rows: 70% 30%;
    margin: 4px;

}
.profile-order-meal-imgdiv img{
    max-width: 100%;
    
}
.profile-order-meal-card {
    background-color: #ffca79;
    /* height: 40px; */
}
.profile-order-meal-card-title {
    font-size: 1.4rem;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 3px;
}


/* ////////////////// */

.profile-info-container {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 60% 40%;
}



/* ///////////////////////////////// */
/* Generative CSS */
/* ///////////////////////////////// */

/* for login page */

.menu-heading {
text-align: center;
color: #333;
margin-bottom: 20px;
}

h1 {
font-size: 2.5em;
}

.login-form {
background-color: #fff;
padding: 2em;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
max-width: 500px;
width: 90%;
margin: 0 auto;
}

form {
display: flex;
flex-direction: column;
}

.form-control {
padding: 10px;
border: 1px solid #ddd;
border-radius: 3px;
margin-bottom: 20px;
font-size: 0.9em;
}

.btn-success {
background-color: #28a745;
color: #fff;
border: none;
padding: 10px;
border-radius: 3px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-success:hover {
background-color: #218838;
}

.form-text {
color: #dc3545;
margin-top: -10px;
margin-bottom: 10px;
}
